<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/shop" />
		<property name="username" value="root" />
		<property name="password" value="" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="5" />
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<bean id="bookPeer" class="eshop.dao.impl.BookPeer">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="categoryPeer" class="eshop.dao.impl.CategoryPeer">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="orderPeer" class="eshop.dao.impl.OrderPeer">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>
